@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/robotoregular/roboto-regular.eot');
    src: url('../fonts/robotoregular/roboto-regular.eot') format('embedded-opentype'),
         url('../fonts/robotoregular/roboto-regular.woff') format('woff'),
         url('../fonts/robotoregular/roboto-regular.ttf') format('truetype'),
         url('../fonts/robotoregular/roboto-regular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/robotobold/roboto-bold.eot');
    src: url('../fonts/robotobold/roboto-bold.eot') format('embedded-opentype'),
         url('../fonts/robotobold/roboto-bold.woff') format('woff'),
         url('../fonts/robotobold/roboto-bold.ttf') format('truetype'),
         url('../fonts/robotobold/roboto-bold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/robotothin/roboto-thin.eot');
    src: url('../fonts/robotothin/roboto-thin.eot') format('embedded-opentype'),
         url('../fonts/robotothin/roboto-thin.woff') format('woff'),
         url('../fonts/robotothin/roboto-thin.ttf') format('truetype'),
         url('../fonts/robotothin/roboto-thin.svg#RobotoThin') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/robotolight/roboto-light.eot');
    src: url('../fonts/robotolight/roboto-light.eot') format('embedded-opentype'),
         url('../fonts/robotolight/roboto-light.woff') format('woff'),
         url('../fonts/robotolight/roboto-light.ttf') format('truetype'),
         url('../fonts/robotolight/roboto-light.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/robotomedium/roboto-medium.eot');
    src: url('../fonts/robotomedium/roboto-medium.eot') format('embedded-opentype'),
         url('../fonts/robotomedium/roboto-medium.woff') format('woff'),
         url('../fonts/robotomedium/roboto-medium.ttf') format('truetype'),
         url('../fonts/robotomedium/roboto-medium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/robotocondensed-bold/robotocondensed-bold.eot');
    src: url('../fonts/robotocondensed-bold/robotocondensed-bold.eot') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold/robotocondensed-bold.woff') format('woff'),
         url('../fonts/robotocondensed-bold/robotocondensed-bold.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold/robotocondensed-bold.svg#RobotoCondensedBold') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/robotocondensed-light/robotocondensed-light.eot');
    src: url('../fonts/robotocondensed-light/robotocondensed-light.eot') format('embedded-opentype'),
         url('../fonts/robotocondensed-light/robotocondensed-light.woff') format('woff'),
         url('../fonts/robotocondensed-light/robotocondensed-light.ttf') format('truetype'),
         url('../fonts/robotocondensed-light/robotocondensed-light.svg#RobotoCondensedLight') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/robotocondensed-regular/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular/robotocondensed-regular.eot') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular.svg#RobotoCondensedRegular') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadproregular/myriadpro-regular.eot');
    src: url('../fonts/myriadproregular/myriadpro-regular.eot') format('embedded-opentype'),
         url('../fonts/myriadproregular/myriadpro-regular.woff2') format('woff2'),
         url('../fonts/myriadproregular/myriadpro-regular.woff') format('woff'),
         url('../fonts/myriadproregular/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadproregular/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/myriadproitalic/myriadpro-it.eot');
    src: url('../fonts/myriadproitalic/myriadpro-it.eot') format('embedded-opentype'),
         url('../fonts/myriadproitalic/myriadpro-it.woff2') format('woff2'),
         url('../fonts/myriadproitalic/myriadpro-it.woff') format('woff'),
         url('../fonts/myriadproitalic/myriadpro-it.ttf') format('truetype'),
         url('../fonts/myriadproitalic/myriadpro-it.svg#MyriadProItalic') format('svg');
}

html{
width: 100%;
height: 100%;
}

body{
width:100%;
height:100%;
}

.container-fluid.sait-container{
max-width:1300px;
}



.w100{
width:100%;
float:left;
}

.align-left{
text-align:left;
}

.align-right{
text-align:right;
}

.align-center{
text-align:center;
}

.pageblock{
width:1140px;
margin:0 auto;
position:relative;
padding-bottom:20px;
}

.pageblock.wide{
width:100%;
}

.pageblock.wider{
width:100%;
padding:0px 70px;
}

nav.navbar{
padding-top:85px;
background:#c1272d;
}

header.main{
display:table;
width:100%;
height:auto;
background:url(../images/header-bg.jpg) no-repeat bottom center scroll;
-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.main .header-wrap{
display:table-cell;
vertical-align:top;
padding-top:200px;
}

@media(min-width:767px) {
    header.main {
        height: 100%;
        padding: 0;
    }
}

#test{
height:1500px;
}









